ul.meny {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    width: 98%;
    border-color: #ffff00;
    border-width: 4px;
    border-bottom-style: solid;
    border-top-style: solid;

}

ul.meny li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

ul.meny li a:hover {
    color: black;
    background-color: #ffff00;
}

ul.navbar {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303c6c;
}

ul.navbar li {
    display: inline;
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    color: black;
    background-color: #ffff00;
}

img.ski {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

img.spel {
  margin: 5px;
}

body {
  background-image: url("sno.gif");
  background-repeat: no-repeat;
  background-size: 1900px 1149px
}

p {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

#alt {
  width: 85%;
  height: 23cm;
  border-color: #ffff00;
  border-width: 4px;
  border-style: solid;
  background-color: #a9c7e4;
  margin:auto;
  position: relative;
}

#velkommen {
  width: 97%;
  background-color: #303c6c;
  text-align: center;
  margin: auto;
  clear: both;
  margin: 10px;
  border-color: #ffff00;
  border-width: 4px;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
}

#navbar {
  width: 97%;
  background-color: #303c6c;
  text-align: center;
  margin: auto;
  clear: both;
  margin: 10px;
  border-color: #ffff00;
  border-width: 4px;
  border-left-style: solid;
  border-right-style: solid;
}

#meny {
  width: 15%;
  padding: 10px;
  margin: 10px;
  border-color: #ffff00;
  border-width: 4px;
  border-left-style: solid;
  height: 70%;
  background-color: #303c6c;
  float: left;
}

#hovud {
width: 78%;
height: 70%;
padding: 10px;
margin: 10px;
background-color: #303c6c;
float: left;
border-color: #ffff00;
border-width: 4px;
border-left-style: solid;
border-right-style: solid;
overflow: scroll;
}

#fot {
  width: 97%;
  height: 6%;
  background-color: #303c6c;
  text-align: center;
  margin: auto;
  clear: both;
  margin: 10px;
  position:absolute;
  bottom: 0px;
  border-color: #ffff00;
  border-width: 4px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
}
